[tool.poetry]
name = "google_home"
version = "0.0.0"
description = "Home Assistant Google Home community integration"
authors = ["Ilja Leiko <leikoilja@gmail.com"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
glocaltokens = "^0.7.0"
homeassistant = "2023.2.4"

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
codespell = "^2.2.4"
flake8 = "^6.0.0"
flake8-bugbear = "^23.6.5"
flake8-comprehensions = "^3.12.0"
flake8-simplify = "^0.20.0"
flake8-use-fstring = "^1.4"
homeassistant-stubs = "^2023.2.4"
isort = "^5.12.0"
mypy = "^1.4"
pre-commit = "^3.3.3"
PyGithub = "^1.58"
pylint = "^2.17.4"
types-requests = "^2.31.0"
voluptuous-stubs = "^0.1.1"

[tool.pylint.messages_control]
# Reasons disabled:
# too-many-* - not enforced for the sake of readability
# too-few-* - same as too-many-*
disable = [
    "duplicate-code",
    "too-few-public-methods",
    "too-many-ancestors",
    "too-many-arguments",
    "too-many-instance-attributes",
    "too-many-locals",
]

[tool.pylint.format]
max-line-length = 88

[tool.isort]
profile = "black"
force_sort_within_sections = true
combine_as_imports = true
known_first_party = [
    "homeassistant",
]

[tool.mypy]
python_version = "3.10"
show_error_codes = true
strict = true
disallow_any_explicit = true
disallow_any_unimported = true
warn_no_return = true
warn_unreachable = true

[tool.codespell]
quiet-level = 2
skip = "poetry.lock,./.git/*,./.mypy_cache/*,*.json"
ignore-words-list = "hass"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
