[tool.poetry]
name = "google_home"
version = "0.0.0"
description = "Home Assistant Google Home community integration"
authors = ["Ilja Leiko <leikoilja@gmail.com"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
glocaltokens = "0.6.0"
homeassistant = "2021.11.0"
zeroconf = "^0.36.13"

[tool.poetry.dev-dependencies]
black = "^21.12b0"
flake8 = "^4.0.1"
flake8-bugbear = "^21.11.29"
flake8-comprehensions = "^3.8.0"
flake8-simplify = "^0.14.5"
flake8-use-fstring = "^1.3"
homeassistant-stubs = "2021.11.0"
isort = "^5.10.1"
mypy = "^0.931"
pre-commit = "^2.16.0"
pylint = "^2.12.2"
codespell = "^2.1.0"
types-requests = "^2.27.5"
PyGithub = "^1.54.1"

[tool.pylint.messages_control]
# Reasons disabled:
# too-many-* - not enforced for the sake of readability
# too-few-* - same as too-many-*
disable = [
    "too-few-public-methods",
    "too-many-arguments",
    "too-many-instance-attributes",
    "duplicate-code",
]

[tool.pylint.format]
max-line-length = 88

[tool.isort]
profile = "black"
force_sort_within_sections = true
combine_as_imports = true
known_first_party = [
    "homeassistant",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
