[tool.poetry]
name = "google_home"
version = "0.0.0"
description = "Home Assistant Google Home community integration"
authors = ["Ilja Leiko <leikoilja@gmail.com"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
glocaltokens = "^0.6.4"
homeassistant = "2022.2.0"
zeroconf = "^0.38.7"

[tool.poetry.dev-dependencies]
black = "^22.3"
codespell = "^2.1.0"
flake8 = "^4.0.1"
flake8-bugbear = "^22.6.22"
flake8-comprehensions = "^3.10.0"
flake8-simplify = "^0.19.2"
flake8-use-fstring = "^1.3"
homeassistant-stubs = "2022.2.0"
isort = "^5.10.1"
mypy = "^0.961"
pre-commit = "^2.19.0"
PyGithub = "^1.54.1"
pylint = "^2.14.3"
types-requests = "^2.28.0"

[tool.pylint.messages_control]
# Reasons disabled:
# too-many-* - not enforced for the sake of readability
# too-few-* - same as too-many-*
disable = [
    "too-few-public-methods",
    "too-many-arguments",
    "too-many-instance-attributes",
    "duplicate-code",
]

[tool.pylint.format]
max-line-length = 88

[tool.isort]
profile = "black"
force_sort_within_sections = true
combine_as_imports = true
known_first_party = [
    "homeassistant",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
