name: Manage labels

on:
  push:
    branches:
      - master

jobs:
  labeler:
    name: Update labels
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v3.1.1
