name: Publish new release

on:
  workflow_dispatch:

jobs:
  publish:
    name: Update manifest and publish
    strategy:
      matrix:
        python-version: [3.9]
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: abatilo/actions-poetry@3.7.4
        with:
          poetry-version: 1.2.0

      - name: Install dependencies
        run: poetry install

      - name: Run script
        run: |
          poetry run python script/publish_release.py
        env:
          GITHUB_TOKEN: ${{ secrets.ADMIN_TOKEN }}
